{% extends "mechdb_core/base.html" %}

{% block content %}
<div class='card_page col-md-5 col-centered'>
<p><b>Забыли пароль?</b></p>
<p>Укажите свой e-mail и вам будет направлена инструкция по его восстановлению</p>

<form action="" method="post">
    <div style="display:none">
        <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
    </div>
     {{ form.email.errors }}
    <p><label for="id_email">E-mail:</label> {{ form.email }}
      &nbsp;<br>
      &nbsp;<br>
    <input class="save" type="submit" value="Сбросить пароль" /></p>

</form>

</div>
{% endblock %}
