{% extends "mechdb_core/base.html" %}
{% block content %}
    <div class='card_page col-md-5 col-centered'>
    {% if validlink %}
      <center>
        <p>Пожалуйста, введите ваш новый пароль<br />

        <form action="" method="post">
            <div style="display:none">
                <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
            </div>
            <table>
                <tr>
                    <td>{{ form.new_password1.errors }}
                        <label for="id_new_password1">Новый пароль:</label></td>
                    <td>{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <td>{{ form.new_password2.errors }}
                        <label for="id_new_password2">Повторите:</label></td>
                    <td>{{ form.new_password2 }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Смена пароля" /></td>
                </tr>
            </table>
        </form>
      </center>
    {% else %}
    <center>
        <h1>Ошибка при попытке сброса пароля</h1>
        <p>Ссылка недействительна, <br />
        возможно потому, что вы уже использовали её. <br />
        Пожалуйста, попробуйте запросить смену пароля снова.</p>
      </center>
    {% endif %}
    </div>
{% endblock %}
