{% extends 'mechdb_core/base.html' %}

{% block content %}
      <p>Воздействие: <b>{{action}}</b>
      <a href="{% url 'action_edit' pk=action.pk %}">ред.</a><br>
      Оборудование: {{action.used_in_equipment}}
      </p>
      <ul>
        <li>Создатель контейнера: {{action.owner}}</li>
        <li>Время создания: {{action.created_date}}</li>
        <li>Время начала: {{action.action_start_date}}</li>
        <li>Время окончания: {{action.action_end_date}}</li>
        <li>Описание воздействия: {{action.description}}</li>
        <li>Плановое?: {{action.scheduled}}</li>
      </ul>
{% endblock %}
