{% extends 'mechdb_core/base.html' %}

{% block content %}
      <p>
        <a class="btn btn-default" href="{% url 'equipment_edit' pk=equipment.pk %}"><span class="glyphicon glyphicon-pencil"></span></a><br>
        <b>{{equipment.sizename.title}} № {{equipment.serial_number}}</b><br><br>
        Месторасположение:<br>
        {% for i in place %}
          {% if not forloop.first %} &lt; {% endif %}
          <a href="{% url 'container_detail' pk=i.0 %}">{{ i.1 }}</a>
        {% endfor %}
      </p>

      <ul>
        <li>Владелец: {{equipment.owner}}</li>
        <li>Время создания: {{equipment.created_date}}</li>
        <li>Модель: {{equipment.sizename}}</li>
        <li>Заводской №: {{equipment.serial_number}}</li>
        <li>Регистрационный №:: {{equipment.registration_numbe}}</li>
        <li>Расположение: {{equipment.in_container}}</li>
      </ul>
{% endblock %}
