{% extends 'mechdb_core/base.html' %}

{% block content %}
      <p>
        {% for i in place %}
          <a href="{% url 'container_detail' pk=i.0 %}">{{ i.1 }}</a>
            &lt;
        {% endfor %}
        <b>{{equipment.sizename.title}} № {{equipment.serial_number}}</b>
      </p>

      <ul>
        <li>Владелец: {{equipment.owner}}</li>
        <li>Время создания: {{equipment.created_date}}</li>
        <li>Модель: {{equipment.sizename}}</li>
        <li>Заводской №: {{equipment.serial_number}}</li>
        <li>Регистрационный №:: {{equipment.registration_numbe}}</li>
        <li>Расположение: {{equipment.in_container}}</li>
      </ul>
{% endblock %}
