{% extends 'mechdb_core/base.html' %}

{% block content %}

    <center><h1>Инструкция по использованию базы данных</h1></center>
    <br>
    <div class='card_page col-md-9 col-centered'>
        <p>
        <h4>Приветствую, коллеги</h4>
        Эта страница поможет вам разобраться, как работать с базой данных MechDB.info.<br>
        </p>

        <h4>Небольшое вступление</h4>
        <p>
        Сервис <b>MechDB</b> является проектом , воплощаемым в жизнь одним-единственным человеком, а потому новые функции реализуются не так быстро
        как хотелось бы мне и вам. Также проект находится на ранней стадии разработки и возможно появление различных ошибок. Именно
        по этой причине мне важна обратная связь. Вы окажете огромную помощь, сообщив о функциях, которые бы вы хотели добавить,
        и о багах, с которыми вам возможно придётся столкнуться. На сегодняшний день всё обсуждение ведётся в комментариях к
        <a class="href-red" rel="nofollow" href="http://hadmi.net/sistema-ucheta-ppr/">этой статье</a>.
        </p>

        <h4>Понятия</h4>
        <p>
          Для начала введу несколько понятий, применяемых в работе:
          <UL>
            <LI>
              <b>Контейнер</b><br>
              Контейнер - это место, где хранится оборудование, расходные материалы и другие контейнеры.
              В плане применения на практике контейнером может являться, например помещение насосной, в которой
              будут располагаться ещё несколько контейнеров, обозначающих технологические места, в которых
              в свою очередь может располагаться оборудование. Также контейнером может быть, например, склад или подрядная ремонтная
              организация, РММ, РМЦ, в которые будет вывозиться оборудование для капитального ремонта;
            </LI>
            <LI>
              <b>Модель оборудования</b><br>
              Модель оборудования - это название, данное оборудованию производителем, либо его типоразмер. Всё оборудование,
              которое вы планируете использовать в базе данных, будет прикреплено к одной из ваших моделей.<br>
              Модели также определяют тип оборудования, которое к ним прикрепляется: насос, компрессор, станок и т.д.
            </LI>

            <LI>
              <b>Оборудование</b><br>
              Оборудование - это единица оборудования, имеющая свой заводской и/или регистрационный номер. Оборудование всегда
              прикреплено к одной из моделей оборудования и всегда находится в одном из ваших контейнеров;
            </LI>
            <LI>
              <b>Воздействие</b><br>
              Воздействия - это действия, совершаемые над оборудованием или расходными материалами.<br>
              Воздействия могут быть различных типов: "техническое обслуживание", "ремонт", "контроль технического состояния",
              "отказ", "перемещение", "вывоз в ремонт" и т.п., могут быть плановыми или внеплановыми;
            </LI>
            <LI>
              <b>Расходные материалы</b><br>
              Расходные материалы - это ЗИП, ГСМ, запасные части к оборудованию. Также должны хранится в контейнерах. В отличие
              от оборудования, имеют понятие количества, которое меняется в результате приходных и расходных воздействий.
              Расход таких материалов может быть привязан к ремонтному воздействию, совершённому над оборудованием. Пока не реализовано.
            </LI>
          </UL>
        </p>

        <h4>Начало работы</h4>
        <p>
          После регистрации у вас откроется страница "Карта", визуализирующая хранение созданных вами контейнеров, оборудования
          и расходных материалов. Так как ничего из этого вы ещё не создали, необходимо добавить несколько контейнеров, о чём
          и предупреждает вас сервис.
        </p>

        <p>
          В качестве обучающего примера мы создадим склад, в котором будут находится три насоса <b>КМ 80-50-200</b>, создадим
          противопожарную насосную с тех. местами под это оборудование и смонтируем насосы туда.
        </p>

        <p>
          Давайте начнём с создания <i>контейнера</i>, воплощающего наш склад. Для этого
          нажмите в главном меню <b>"Создание"<i class="fa fa-long-arrow-right"></i>"Новый контейнер"</b><br>
          У вас откроется страница создания контейнера. Укажите название "Склад ТМЦ",
          введите описание при желании. Галочку "Ремонтная организация" стоит ставить только для контейнеров,
          в которых производится капитальный ремонт оборудования, это не наш случай. Выбрать место, где расположить контейнер, мы
          также пока не можем, оставляем как есть. Нажимаем кнопку <b>Сохранить</b><br>
        </p>

        <p>
          У вас откроется учётная карточка только что созданного нами контейнера. В этой карточке видно всё его содержимое
          и ремонтные воздействия проводившиеся в нём, пока что эти поля пусты.<br>
          Вторым нашим шагом будет создание <i>модели оборудования</i> под наши насосы. В главном меню Выберите
          <b>"Создание"<i class="fa fa-long-arrow-right"></i>"Новая модель оборудования"</b><br>
          На открывшейся странице заполните наименование - "КМ 80-50-200", тип оборудования - "Насос", поля "Производитель" и
          "Поставщик" можно не заполнять. Нажмите кнопку "Сохранить", у вас откроется учётная карточка Модели.<br>
          Для того, чтобы добавить наши насосы, можно воспользоваться либо главным меню
          (<b>"Создание" <i class="fa fa-long-arrow-right"></i> "Новое оборудование"</b>), либо кнопкой
          "Действия" <i class="fa fa-long-arrow-right"></i> "Добавить оборудование" в учётной карточке нашей модели или контейнера.
        </p>

        <p>
          Создайте три единицы оборудования, выбрав созданные нами модель и контейнер. После каждого создания у вас будет открываться
          страница с учётной карточкой оборудования. Обратите внимание на таблицу <b>"Последние воздействия"</b> на этой странице - у каждого из
          насосов автоматически создаётся воздействие "Перемещение", в результате которого насос оказывается на нашем складе ТМЦ.<br>
          В результате, при переходе на страницу <b>"Карта"</b> вы увидите результат вашей деятельности:
        </p>
        <center><IMG src="{{STATIC_URL}}/static/img/guide-1.png" alt="Создание подотчётного оборудования на складе"></center>

        <p>
          Теперь создадим нашу противопожарную насосную. Добавьте новый контейнер "Противопожарная насосная" с расположением
          "--- верхний уровень ---". Затем создайте ещё три контейнера, которые будут служить в качестве технологических мест
          для насосов. Пускай они будут называться "ПП 1/1", "ПП 1/2" и "ПП 1/3", при создании не забываем указать что они
          располагаются в контейнере "Противопожарная насосная". Теперь наше насосное хозяйство выглядит так:
        </p>
        <center><IMG src="{{STATIC_URL}}/static/img/guide-2.png" alt="Создание технологического здания"></center>
        <p>
          Осталось совсем немного - смонтировать созданные нами насосы в созданную нами насосную. Для этого зайдите в
          учётную карточку нужного насоса, нажмите <b>"Действия" <i class="fa fa-long-arrow-right"></i> "Монтаж"</b> и выберите в
          качестве "нового расположения" одно из созданных нами технологических мест (ПП 1/1, ПП 1/2 или ПП 1/3).<br>
          После выполнения монтажа всех трёх насосов ваша Карта будет выглядеть так:
        </p>
        <center><IMG src="{{STATIC_URL}}/static/img/guide-3.png" alt="Монтаж оборудования в технологическом здании"></center>
          <p>
            Вот и всё. Для того, чтобы посмотреть, как работает отображение ремонтных воздействий в базе данных, можете
            создать несколько различных воздействий к нашим насосам ("ТО", ТР, информация и т.д.) аналогичным образом - перейдя
            на страницу учётной карточки насоса и выбрав соответствующий пункт в меню "Действия". Обратите внимание на то, как
            созданные вами действия отображаются в учётных карточках оборудования и контейнеров, размещённых в них.
          </p>

          <p>
            <b><center>Учётная карточка контейнера "Противопожарная насосная"</b></center>
          </p>
          <center><IMG src="{{STATIC_URL}}/static/img/guide-4.png" alt="Учётная карточка насосной станции" width=90%></center>

          <p>
            <b><center>Учётная карточка одного из созданных насосов</b></center>
          </p>
          <center><IMG src="{{STATIC_URL}}/static/img/guide-5.png" alt="Учётная карточка насоса" width=90%></center>

          <p><br>
            На этом всё, уважаемые коллеги. Я думаю, что показанного примера вполне достаточно чтобы понять принцип
            работы базы данных.<br>
            Напоследок хочу напомнить, сервис является абсолютно бесплатным и таковым и останется.<br>
            Возмомжно введение премиум - подписки после реализации хранения файлов (место на VPS денег стоит всё-таки),
            но не более того. Предлагаю вам <a class="href-red" href="{% url 'signup' %}">зарегистрироваться</a> и попробовать самим.
          </p>
    </div>
{% endblock %}
