{% extends 'mechdb_core/base.html' %}

{% block content %}
    <div class="card_page col-md-8 col-centered">
        <center><h1>Добро пожаловать на</h1></center>
        <center><h1 id="sitetitle">MechDB.info</h1></center>
    </div>
      <div class="col-md-9 col-centered">
      <p><b>MechDB</b> - это база данных, позволяющая механикам, инженерам и прочим специалистам, ответственным за
        ремонт и исправное состояние динамического оборудования, упростить и организовать свою работу.</p>

      <p><b>Функции сервиса:</b></p>
      <UL>
        <LI>
          Хранение   информации об оборудовании в виде учётных карточек;
        </LI>
        <LI>
          Добавление к оборудованию ремонтных воздействий, таких как "техническое обслуживание", "текущий ремонт", "капитальный ремонт" и прочих;
        </LI>
        <LI>
          Хранение оборудования в контейнерах, играющих роль технологических помещений, технологических мест, складов и т.д.;
        </LI>
        <LI>
          Составление древовидной структуры из контейнеров для максимально удобного визуального представления;
        </LI>
        <LI>
          Отображение древовидной структуры контейнеров и технологического оборудования в виде карты;
        </LI>
        <LI>
          Просмотр списка ремонтных воздействий, проводимых над конкретным оборудованием или в определённом контейнере.
        </LI>
      </UL>

      <p><b>Пока не реализовано, ожидается в ближайших обновлениях:</b></p>
      <UL>
        <LI>
          Ведение информации о расходных материалах и ЗИП, применимом на оборудовании (учёт, хранение, расход в рем. воздействиях);
        </LI>
        <LI>
          Прикрепление файлов к оборудованию (фото заводских табличек, руководства, инструкции) и ремонтным воздействиям (акты, дефектные ведомости, фотоотчёты);
        </LI>
        <LI>
          Формирование отчётов за период времени (простои, количество плановых и внеплановых воздействий и т.д.) с выводом в формате электронных таблиц Excel;
        </LI>
        <LI>
          Ведение наработки оборудования, подсчёт накопительной наработки после каждого ремонтного воздействия;
        </LI>
        <LI>
          Совместное ведение хозяйства несколькими пользователями в режимах "напарник-напарник" и "подчинённый-начальник".
        </LI>
      </UL>

      <center><b>
      <a class="href-red" href="{% url 'signup' %}">Попробуйте</a>, использование сервиса является бесплатным. <br>
      Для более подробного изучения работы с сервисом <a class="href-red" href="{% url 'guide' %}">ознакомьтесь с инструкцией</a>.
      </b></center>
      </div>

{% endblock %}
