{% extends 'mechdb_core/base.html' %}

{% block content %}

<p id='login-error-message'>{{ error_message|safe }}</p>
  <div class="login-window col-centered">
    <form id="form" name="form" method="post" action="{% url 'signin' %}">
        {% csrf_token %}
        <div id="loginformblock">
          <label class="login-label" for="name"><i class="login-icon fa fa-user fa-lg"></i></label><input class="login-input" type="text" name="name" id="name" placeholder="Логин" required/>
          <label class="login-label" for="name"><i class="login-icon fa fa-lock fa-lg"></i></label><input class="password-input" type="password" name="password" id="password" placeholder="Пароль" required /><button class="login-submit" type="submit" /><i class="login-icon fa fa-arrow-right fa-lg"></i></button>
          <p id="login-forgotpass"><a id="login-forgotpass-href" href="#">Забыли пароль?</a></p>
        </div>
    </form>
  </div>

{% endblock %}
