{% extends 'mechdb_core/base.html' %}

{% block content %}

    <IMG width=100% src="http://holography.byu.edu/resources/images/under-construction.png">
    <div class='col-md-9 col-centered'>
      <center><h1>Добро пожаловать на MechDB.info!</h1></center>
      <br>
      <p>MechDB - это сервис, позволяющий механикам, инженерам и прочим специалистам, ответственным за
        ремонт и исправное состояние динамического оборудования, упростить и организовать свою работу.</p>

      <p>Сервис позволяет вести учёт проведения плановых и внеплановых ремонтов оборудования,
        расход запасных частей и ГСМ, контролировать вывоз и завоз оборудования с ремонта, вести наработку часов.</p>

      <p>На текущий момент сервис находится на этапе разработки, доступ к ресурсу будет открыт позже.</p>

    </div>

{% endblock %}
