<HTML>
<HEAD>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  <style>
    DIV {
        width: 800px;
        font-family: Verdana, Arial, Helvetica, sans-serif;
        color: #333366;
        margin:0 auto;
      }
    </style>

<TITLE>MechDB.info - сервис учёта проведения ремонтов динамического оборудования</TITLE>
</HEAD>
<BODY>
    <IMG width=100% src="http://holography.byu.edu/resources/images/under-construction.png">
    <div>
      <center><h1>Добро пожаловать на MechDB.info!</h1></center>
      <br>
      <p>MechDB - это сервис, позволяющий механикам, инженерам и прочим специалистам, ответственным за
        ремонт и исправное состояние динамического оборудования, упростить и организовать свою работу.</p>

      <p>Сервис позволяет вести учёт проведения плановых и внеплановых ремонтов оборудования,
        расход запасных частей и ГСМ, контролировать вывоз и завоз оборудования с ремонта, вести наработку часов.</p>

      <p>На текущий момент сервис находится на этапе разработки, доступ к ресурсу будет открыт позже.</p>

    </div>

</BODY>
</HTML>
