.page-header {
    background-color: #ff9400;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.content{
    margin-top: 20px;
    background-color: #FFFFFF;
  }


h1, h2, h3, h4 {
    font-family: 'Bowlby One SC', cursive;
}

.date {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    font-size: 26pt;
    margin:0 auto;
    width:380px;
}

.formsdiv {
    margin:20px auto;
    width: 80%;
}

.equipmenthref,  .equipmenthref:hover, .equipmenthref:visited {
  color: #05851F;
  font-size: 10pt;
  margin-top:0px;
  margin-bottom:0px;
  line-height: 0;
}

.containerhref,  .containerhref:hover, .containerhref:visited {
  color: #B35E00;
}
.dropdown-menu {
  background-color: #FFEBAD;
}

.formhelptext {
  color: #858585;
  font-size: 10pt;
  margin-top:0px;
  margin-bottom:0px;
  line-height: 0;
}

.formerrortext {
  color: #AC2A20;
}
