/* шаблон страницы */
* {
    margin: 0;
    padding: 0;
}

body {
    background: #FFF;
    color: #000;
    font-family: Arial, sans-serif;
    font-size: 14px;
    text-align: center;
}

.wrapper {
    background: #B2130A;
    width: available;
    margin: 0;
    padding:
}

.content {
    background: #FFD700;
    text-align: left;
    width: available;
    margin: 55px 150px 0 200px;
    overflow-x: hidden;
}

#leftSidebar {
    background: #40E0D0;
    width: 200px;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
}

#header {
    background: #F5DEB3;
    height: 55px;
    position: fixed;
    left: 200px;
    top: 0;
    right: 0;
}

#rightSidebar {
    background: #B2130A;
    width: 150px;
    height: 100%;
    position: fixed;
    right: 0;
    top: 55px;
}

#workspace {
    background: #DCDCDC;
}


/* генерация древа объектов */

.mdb_container,  .mdb_container:hover, .mdb_container:visited {
    color: #B35E00;
}

.mdb_equipment,  .mdb_equipment:hover, .mdb_equipment:visited {
  color: #05851F;
  font-size: 11pt;
  margin-top:0;
  margin-bottom:0;
  line-height: 1.0;
}

.mdb_tree_element {
    margin: 0;
    padding: 0;
    line-height: 1.2;
}

li.mdb_tree_element {
    margin-left: 40px;
}

/* генерация таблиц */
table {
  border-collapse: collapse;
  border: 2px solid grey;
}

th {
  border: 1px solid grey;
  font-family: 'Yeseva One', cursive;
  font-size:9pt;
  text-align: center;
  background-color: #ff9400;
}

td {
  border: 1px solid grey;
  text-align: center;
  font-size:10pt;
}